@planetdds:registry=https://pkgs.dev.azure.com/planetdds/Planet.UI/_packaging/ui-design-system/npm/registry/
always-auth=true
legacy-peer-deps=true
//pkgs.dev.azure.com/planetdds/Planet.UI/_packaging/ui-design-system/npm/registry/:username=david.choate@planetdds.com
//pkgs.dev.azure.com/planetdds/Planet.UI/_packaging/ui-design-system/npm/registry/:_password=Mjh6UldKT25aUkI2YkZ1WGk4STdwSjJQT25vS0VYaDNhUWQycTVGUzBETGVsNHJlaVI4T0pRUUo5OUNFQUNBQUFBQWdMQlkwQUFBU0FaRE8xOTlJ
//pkgs.dev.azure.com/planetdds/Planet.UI/_packaging/ui-design-system/npm/registry/:email=david.choate@planetdds.com
